body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f3f4f6;
  color: #333;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

.navbar {
  display: flex;
  background-color: #4b6cb7;
  background-image: linear-gradient(315deg, #4b6cb7 0%, #1e386c 74%);
  justify-content: space-between;
  align-items: center;
  /* background: #4f46e5; */
  padding: 15px 40px;
  color: white;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .nav-links li a:hover {
  color: #5dcaf2;
}

.logout-btn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.welcome-card {
  background: white;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.welcome-card h1 {
  color: #4f46e5;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #182848;
  color: white;
  font-size: 14px;
  margin-top: 40px;
}